li{
    width: 350px !important;
}

.list-group-item .remove-icon {
    visibility: hidden;
  }
  
  .list-group-item:hover .remove-icon {
    visibility: visible;
    color: red;
  }
  input{background:rgb(180, 234, 255);}
  .contenedorprincipal{
    width:600px;
    border: solid 1px;
    border-radius:0.5rem;
  }
  h1{border-bottom:solid 1px;
    border-radius:0.5rem 0.5rem 0 0;
  background: yellow;}
  .custom-list-group .list-group-item {
    border-color: black;
  }